.Input {
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  border: solid 1px lightgray;
  outline: 0;
  box-shadow: 0 6px 10px 0 rgba(235, 122, 122, 0.1);
  padding: 3px 10px;
}

::placeholder {
  color: lightgray;
  opacity: 1; /* Firefox */
}
