.Input {
  height: 30px;
  font-size: 14px;
  border-radius: 3px;
  border: solid 1px black;
  outline: 0;
  box-shadow: 0 2px 2px 1px rgba(235, 122, 122, 0.1);
  padding: 0px 10px;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}
