@import "../../shared/mixins.scss";

.Org {
  padding: 10px 20px;

  &-title {
    margin: 0 0 15px 0;
    text-transform: uppercase;
    color: #00000073;
  }

  &-header {
    display: flex;
  }

  &-name {
    margin: 0;
    font-weight: bold;
  }

  &-image {
    display: flex;
    flex-shrink: 0;
    height: 100px;
    width: 100px;
    margin-right: 10px;

    @include when-wider-than(sm) {
      height: 170px;
      width: 170px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: scroll;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin: 0;
      padding: 0;

      @include when-wider-than(sm) {
        flex-direction: row;
      }
    }

    li {
      display: flex;
      align-items: center;
      margin: 0 20px 5px 0;
    }

    &--icon {
      margin-right: 5px;
    }
  }
}
