.Org {
  display: flex;

  &-image {
    height: 170px;
    width: 170px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &-info {
    &--top {
    }

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-right: 20px;
    }
  }
}
