@import "../../shared/styles/mixins.scss";

.RandomOrgButton {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 120px;
  border: none;

  @include when-wider-than(sm) {
    width: 180px;
  }

  a {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    text-decoration: none;
    color: black;
    text-align: center;

    @include when-wider-than(sm) {
      font-size: 14px;
    }
  }
}
